# Exploratory data Analysis

Understanding the dataset to explore how the data is prestent in the dataset and if there is a need of creating some aggregated tabels that can help with:
* Vendor selection for profitability
* Product Pricing Optimazation

In [1]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect('inventory.db)'

SyntaxError: incomplete input (1104940103.py, line 1)

In [4]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tables

NameError: name 'conn' is not defined

In [7]:
for table in tables['name']:
    print('-'*50, f'{table}','-'*50)
    print('Count of records:', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].value[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))

NameError: name 'tables' is not defined

In [ ]:
import pandas as pd
import sqlite3

for table in tables['name']:
    print('-'*50, f'{table}','-'*50)
    print('Count of records:', pd.read_sql(f"select count(*) as count from {table}", conn)['count'].value[0])
    display(pd.read_sql(f"select * from {table} limit 5", conn))