# Exploratory data Analysis

Understanding the dataset to explore how the data is prestent in the dataset and if there is a need of creating some aggregated tabels that can help with:
* Vendor selection for profitability
* Product Pricing Optimazation

In [8]:
import pandas as pd
import sqlite3

In [9]:
conn = sqlite3.connect("inventory.db")

In [10]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
display(tables)

Empty DataFrame
Columns: [name]
Index: []

In [13]:
for table in tables['name']:
    print('-' * 50, f'{table}', '-' * 50)
    count_query = f"SELECT COUNT(*) AS count FROM {table}"
    count = pd.read_sql(count_query, conn)['count'].values[0]
    print(f'Count of records: {count}')
    df_sample = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn)
    display(df_sample)